<div class="container-fluid">
<p> Zaika : The Taste of Solitaire</p>

</div>
<div class="row m-4">  
    <div class="col-12 col-md-6 ">
  
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Restaurent</mat-card-title>
            <mat-card-subtitle>Masala Of India</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image width="300px" height="500px" src="/assets/images/food3.jpg" alt="Photo of a Shiba Inu">
          <img mat-card-image width="300px" height="500px" src="/assets/images/food2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
             Taste the zaika of Solitaires Kitchen
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
    </div>
      
    <div class="col-12 col-md-6 p-1">
      
      <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Restaurent</mat-card-title>
        <mat-card-subtitle>Masala Of India</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image width="300px" height="500px" src="/assets/images/food4.jpg" alt="Photo of a Shiba Inu">
      <img mat-card-image width="300px" height="500px" src="/assets/images/food5.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
         Taste the zaika of Solitaires Kitchen
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-12  bar">     
      <span> Taste the best  Breweries of West </span>
  </div>
</div>
