
<div class="container">
  <div class="row">
    <div class="col-12  text"> <mat-card>Find The best Suites in Port Blair! </mat-card> </div>
  <div class="col-12 imgcard imgcard pt-2 pl-4 pr-4 col-md-6 col-lg-4"> 
      <img width="350px" height="350px" src="/assets/images/room1.jpg" alt="Photo of a Shiba Inu">
  
      <button mat-raised-button color="primary">
          Explore
          </button>  </div>
  <div class="col-12 imgcard  p-4 col-md-6 col-lg-4"> 
      <img  width="350px" height="350px" mat-card-image src="/assets/images/room2.jpg" alt="Photo of a Shiba Inu">
      <button mat-raised-button color="primary">
          Explore
          </button>
    </div>
    <div class="col-12 imgcard  p-4 col-md-6 col-lg-4 imgcard"> 
        <img width="350px" height="350px" mat-card-image src="/assets/images/room3.jpg" alt="Photo of a Shiba Inu">
        <button mat-raised-button color="primary">
            Explore
            </button>
      </div>
      <div class="col-12 imgcard p-4 col-md-6 col-lg-4"> 
          <img width="350px" height="350px" mat-card-image src="/assets/images/room4.jpg" alt="Photo of a Shiba Inu">
          <button mat-raised-button color="primary">
              Explore
              </button>
        </div>
        <div class="col-12 imgcard  p-4 col-md-6 col-lg-4"> 
            <img width="350px" height="350px"mat-card-image src="/assets/images/room5.jpg" alt="Photo of a Shiba Inu">
            <button mat-raised-button color="primary">
                Explore
                </button>
          </div>
          <div class="col-12 imgcard p-4 col-md-6 col-lg-4"> 
              <img width="350px" height="350px" mat-card-image src="/assets/images/room6.jpg" alt="Photo of a Shiba Inu">
              <button mat-raised-button color="primary">
                  Explore
                  </button>
            </div>
            <div class="col-12 imgcard p-4 col-md-6 col-lg-4"> 
                <img width="350px" height="350px" mat-card-image src="/assets/images/wed2.jpg" alt="Photo of a Shiba Inu">
                <button mat-raised-button color="primary">
                    Explore
                    </button>
              </div>
              <div class="col-12 imgcard p-4 col-md-6 col-lg-4"> 
                  <img width="350px" height="350px" mat-card-image src="/assets/images/resort1.jpg" alt="Photo of a Shiba Inu">
                  <button mat-raised-button color="primary">
                      Explore
                      </button>
                </div>
                <div class="col-12 imgcard  p-4 col-md-6 col-lg-4"> 
                   
                  <img width="350px" height="350px" mat-card-image src="/assets/images/room8.jpg" alt="Photo of a Shiba Inu">
                  <button mat-raised-button color="primary">
                      Explore
                      </button>
                  </div>

  </div>
  </div>