<div class="container-fluid">
    <div class="book-now">
       <div fxFlex fxFlexlayoutAlign="flex-end">
          <button class="bookme" mat-stroked-button color="primary"> 
          BOOK
          </button>
       </div>
    </div>
    <div class="header-container"  fxlayout="row" fxlayout="column" fxFlexLayoutWrap fxlayoutAlign="center center">
       <h2 class="mat-display-2"> Luxury Hotel </h2>
       <h1 class="mat-headline">Solitaire Beach Resort &amp; Spa</h1>
    </div>
    <div class="India">
       <h5>Port Blair</h5>
    </div>
  </div>
    <section class="home-section">
       <div  class="title-home" fxLayout="column" fxLayoutAlign="center center">
          <div>
             <h2 class="lux">Luxury Beach Resort  </h2>
          </div>
          <div>
             <h3 class="equ"> Equitorial Paradise of India </h3>
          </div>
          <div>
             <p fxFlex="70" fxFlexOffset="15" class="mat-body-1">Solataire Resort of Kolva Beach is the heavean on Earth </p>
          </div>
       </div>

       <div class="rooms-home-section" fxLayout.xs="column" fxFlexLayoutWrap fxlayoutgap="5%" fxLayoutAlign="center center">
          <mat-card class="rooms-suites m-4" fxFlex="40" fxFlex.sm="80">
             <mat-card-header fxLayout="column" fxLayoutAlign="center center" >
                <h2> Rooms &amp; Suites</h2>
             </mat-card-header>
             <mat-card-actions>
                <button mat-raised-button color="primary">
                Explore
                </button>
             </mat-card-actions>
          </mat-card>
          <mat-card class="beach-house m-4" fxFlex="40" fxFlex.sm="80">
             <mat-card-header fxLayout="column" fxLayoutAlign="center center" >
                <h2> Beach &amp; Resorts</h2>
             </mat-card-header>
             <mat-card-actions>
                <button mat-raised-button color="primary">
                Explore
                </button>
             </mat-card-actions>
          </mat-card>
       </div>

 </section>
